<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecole_en_ligne">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecole_en_ligne">
        <activity
            android:name=".espaces.eleves.EspaceEleve"
            android:label="@string/title_activity_espace_eleve"
            android:theme="@style/Theme.Ecole_en_ligne.NoActionBar"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Inscription.Indentification_inscription" />
        <activity android:name=".Inscription.ValidationInscription" />
        <activity android:name=".IndentificationC" />
        <activity android:name=".Inscription.Inscription_eleve" />
        <activity android:name=".Inscription.Inscription_parent" />
        <activity android:name=".Connexion_eleve" />
        <activity android:name=".Connexion_parent" />
        <activity android:name=".Ins_donnees_enf" />
        <activity android:name=".classes.Sixieme" />
        <activity android:name=".classes.Cinquieme" />
        <activity android:name=".classes.Quatrieme" />
        <activity android:name=".classes.Troisieme" />
        <activity android:name=".MdpOublie" />
        <activity android:name=".Changer_mdp" />
        <activity android:name=".ValidationCode" />
        <activity android:name=".elementMenu.Progression" />
        <activity android:name=".elementMenu.Activites" />
        <activity android:name=".elementMenu.Cours_Exos" />
        <activity android:name=".elementMenu.CoursLive" />
        <activity android:name=".elementMenu.Recommandation" />
        <activity android:name=".matieres.Maths" />
        <activity android:name=".matieres.Français" />
        <activity android:name=".matieres.Histoire" />
        <activity android:name=".matieres.Anglais" />
    </application>

</manifest>