<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecole_en_ligne">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecole_en_ligne">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Indentification_inscription"></activity>
        <activity android:name=".IndentificationC"></activity>
        <activity android:name=".Inscription_eleve"></activity>
        <activity android:name=".Inscription_parent"></activity>
        <activity android:name=".Connexion_eleve"></activity>
        <activity android:name=".Connexion_parent"></activity>
        <activity android:name=".Ins_donnees_enf"></activity>
        <activity android:name=".classes.Sixieme"></activity>
        <activity android:name=".classes.Cinquieme"></activity>
        <activity android:name=".classes.Quatrieme"></activity>
        <activity android:name=".classes.Troisieme"></activity>
        <activity android:name=".MdpOublie"></activity>
        <activity android:name=".Changer_mdp"></activity>
        <activity android:name=".ValidationCode"></activity>
    </application>

</manifest>
